<!-- section content -->
<div class="container wow fadeInUp">
    <div class="about_block bg_gray mb30">
        <div class="col_cont">
            <div class="wrap_cont">
                <header class="head_section">
                  <span>our</span>
                    <h2>Spa center</h2>
                    <span>History</span>
                  <div class="separator left"></div>
                </header>
                <p>A member of our reservations team will be happy to assist you with selecting and scheduling your treatments appropriately. Please call us at 786-797-1452.</p>
                <p>La Dolce Vita Med Spa is one of the largest full-service aesthetics company in the nation, with one of the finest reputations in the industry. We continue to grow because our focus has always been on our clients, and providing them with exceptional service, efficacy and safety in a comfortable, spa-like atmosphere. Under the oversight of our Medical Directors, our treatment professionals all maintain strict safety standards and use the most advanced technology to help you look and feel your best.</p>

                <!-- Trigger the modal with a button -->
                <button type="button" class="shortcode_button" data-toggle="modal" data-target="#spaPolicy">Spa Policy</button>

            </div>
        </div>
        <div class="col_img"></div>
        <div class="clear"></div>
    </div>
</div>
<!-- //section content -->

<!-- Modal -->
<div class="modal fade" tabindex="-1" id="spaPolicy" role="dialog">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style='background-color: #ee61a4'>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Spa Policy</h4>
      </div>
      <div class="modal-body">

        <h5><strong>Noise</strong></h5>
        <p>Our spa environment is one of tranquility and relaxation. Please respect all guests’ right to privacy and serenity. Please maintain conversations at a considerate volume in all treatment areas. Talking in hallway is prohibited.</p>

        <h5><strong>Cell Phones</strong></h5>
        <p>In consideration of our guests, we ask that cell phones and electronic devices are turned off and left in your purse during your stay. This will also allow you to get away and relax.</p>

        <h5><strong>Arrival Time</strong></h5>
        <p>We recommend that you arrive at least 15 minutes prior to your first scheduled appointment. This will allow plenty of time to fill our a client profile necessary to tailor our treatments to your personal needs, and to relax drinking a calming tea provided by us before beginning your services.</p>

        <h5><strong>Cancellation Policy</strong></h5>
        <p>Scheduled treatments are reserved especially for you. We require 24 hour advance notice in order to cancel any service with no charge. If your appointment is not cancelled within this notification period, your appointment is considered confirmed. Any changes or cancellations made after the 24 hour window are subject to a charge for each service. Because of this policy, a valid credit card number is required at time of booking. This policy also applies to gift card and certificate holders.</p>

        <h5><strong>Late Arrival</strong></h5>
        <p>All spa appointments have been designed to allow appropriate time for full enjoyment of each service. Your late arrival may limit our ability to offer the fullest possible experience. Please be aware that late arrivals will not be afforded extension of scheduled treatments. Treatments will be rendered only for the remainder of the scheduled appointment and you will be responsible for payment for the full service.</p>

        <h5><strong>Return Policy</strong></h5>
        <p>Unused products in their original packaging may be returned within 14 days for a full refund.</p>

        <h5><strong>Health Conditions</strong></h5>
        <p>Please advise us at time of booking of any health conditions, allergies, injuries or special needs which may affect your services.</p>

        <h5><strong>Massage and Body Treatments</strong></h5>
        <p>Please specify Therapist gender preferences at time of booking. You may consult with the Therapist directly about style and depth of pressure prior to your service. Guests must be 18 years of age or older to receive massage treatments.</p>

        <h5><strong>Pregnancy</strong></h5>
        <p>We have specially designed treatments for expectant mothers. A spa concierge is present to guide you in selecting appropriate treatments for you during this special time.</p>

        <h5><strong>Cleanliness</strong></h5>
        <p>Keeping our commitment to cleanliness, safety and hygiene, our equipment is sterilized and sanitized after every service and and treatment.</p>

        <h5><strong>Loss or Damage</strong></h5>
        <p>We regret that we cannot be responsible for any loss or damage of personal items. For the protection of your clothing, we also ask that you wear the robes provided for your convenience.</p>

        <h5><strong>Payment</strong></h5>
        <p>All major credit cards are accepted. We do not accept any personal or traveller’s checks. Any gift cards, vouchers, or certificates must be mentioned at time of booking.</p>

        <h5><strong>Gratuity</strong></h5>
        <p>Our listed rates do not include gratuity. A cash gratuity of 18-20% of each service price is appropriate and appreciated.</p>
      </div>
      <div class="modal-footer" style='background-color: #ee61a4'>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
