<header>
  <div class="container">
    <!-- logo -->
    <div>
        <a href="#topping"><p class="top-title">La Dolce Vita Med Spa</p></a>
    </div>

    <!-- menu -->
    <nav class="navmenu">
        <ul>
            <li class="scrollable"><a href="#topping">Home</a></li>
            <li class="scrollable"><a href="#about">About us</a></li>
            <li class="scrollable"><a href="#services">Services</a></li>
            <li class="scrollable"><a href="#staff">Staff</a></li>
            <li class="scrollable"><a href="#portfolio">Gallery</a></li>
            <li class="scrollable"><a href="#contact">Contact</a></li>
        </ul>
    </nav><!-- end menu -->
    <div class="clear"></div>

  </div>
</header>
