<!-- section content -->
<div class="container wow fadeInUp">
  <div class="pricing_block bg_gray">

    <!-- section header -->
    <header class="head_section center_section">
      <h2>Our Packages</h2>
        <div class="separator"></div>
      <p>Indulge in one of our packages and enjoy a stay filled with our most popular treatments.</p>
    </header>

    <!-- //section header -->
    <div class="price-item">
        <div class="type"><span>One Day Spa Package</span></div>
        <div class="pricelist"><span>$120</span> month</div>
        <div class="cont">
            <ul>
                <li>Deluxe accommodation</li>
                <li>Hot Stones Massages</li>
                <li>Body Treatments</li>
                <li>Hydrotherapy</li>
                <li>Hands & Feet</li>
            </ul>
        </div>
        <a href="#" class="shortcode_button">Buy Now</a>
    </div>
    <div class="price-item optimal">
        <div class="type"><span>Overnight Spa Package</span></div>
        <div class="pricelist"><span>$200</span> month</div>
        <div class="cont">
            <ul>
                <li>Deluxe accommodation</li>
                <li>Hot Stones Massages</li>
                <li>Body Treatments</li>
                <li>Hydrotherapy</li>
                <li>Hands & Feet</li>
            </ul>
        </div>
        <a href="#" class="shortcode_button">Buy Now</a>
    </div>
    <div class="price-item">
        <div class="type"><span>Three Night Package</span></div>
        <div class="pricelist"><span>$300</span> month</div>
        <div class="cont">
            <ul>
                <li>Deluxe accommodation</li>
                <li>Hot Stones Massages</li>
                <li>Body Treatments</li>
                <li>Hydrotherapy</li>
                <li>Hands & Feet</li>
            </ul>
        </div>
        <a href="#" class="shortcode_button">Buy Now</a>
    </div>
  </div>
</div>
<!-- //section content -->
