<!--Slider-->
  <div class="full_slider">
      <div id="fullwidth_slider" class="flexslider wow bounceIn">
          <ul class="slides">
              <li>
                <div class="slideshow-overlay"></div>
                  <img src="<%= asset_path('slider/image.jpg') %>" alt="" class="slide_bg" />
                  <div class="full_slider_caption">
                      <div class="container"></div>
                  </div>
              </li>
              <li>
                <div class="slideshow-overlay"></div>
                  <img src="<%= asset_path('slider/gentlemen-facial.jpg') %>" alt="" class="slide_bg" />
                  <div class="full_slider_caption">
                      <div class="container">
                        <div class="cont">
                            Enjoy our Services
                              <div class="title">La Dolce Vita Med Spa</div>
                              <br>Ultimate Luxury
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                <div class="slideshow-overlay"></div>
                  <img src="<%= asset_path('slider/facials.png') %>" alt="" class="slide_bg" />
                  <div class="full_slider_caption">
                      <div class="container">
                        <div class="cont">
                            Enjoy our Services
                              <div class="title">La Dolce Vita Med Spa</div>
                              <br>Ultimate Luxury
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
   </div>
  <!--//Slider-->
