<div class="container block-wrap">
  <div class="row carousel-box carousel-full">
      <div class="col-md-3">
          <div class="control-block bg_colored block">
              <header class="head_section">
                  <div class="icon-write">
                      <i class="pe-5x pe-va pe-7s-diamond"></i>
                    </div>
                  <span>Our Talented</span>
                <h2>Staff</h2>
                    <div class="separator left"></div>
                </header>
                <p>Our experienced and talented staff will take care of you.</p>
              <div class="customNavigation">
                  <a class="btn-prev"><i class="fa fa-angle-left"></i></a>
                  <a class="btn-next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
          <div class="owl-carousel">
                <div class="item-team">
                  <div class="row">
                        <div class="col-md-4 col-sm-4">
                          <div class="img block">
                              <img src="<%= asset_path('team/1.jpg') %>" alt="">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="cont block">
                                <h4>Dr. Javed Afzal / The Physician Assistant</h4>
                                <div class="separator left"></div>
                                <p>Our expertly trained spa team is on hand to offer advice, guidance or treatments designed to relax, cleanse, or invigorate, according to your wishes. We’re sure you’ll leave the spa a new person.</p>
          <p>Melissa is an highly-skilled, experienced therapist, she offers a blend of both traditional and modern Spa treatments to immerse your mind, body and soul in pure indulgence.</p>
                                <!-- <div class="social">
                                  <a href="https://www.facebook.com/Ladolcevitamedspa"          class="soc-f"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                  <a href="https://www.twitter.com/ladolcevitaspa_"             class="soc-t"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                  <a href="https://plus.google.com/116386761425916871474/posts" class="soc-g"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                                  <a href="https://www.instagram.com/ladolcevitamedspa"         class="soc-ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                  <a href="#" class="soc-f">f</a>
                                  <a href="#" class="soc-t">t</a>
                                  <a href="#" class="soc-g">g</a>
                                  <a href="#" class="soc-n">n</a>
                                  <a href="#" class="soc-v">v</a>
                                  <a href="#" class="soc-r">r</a>
                                  <a href="#" class="soc-i">i</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-team">
                  <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="img block">
                              <img src="<%= asset_path('team/2.jpg') %>" alt="">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="cont block">
                                <h4>Karina Rodriguez / Skin Care Specialist</h4>
                                <div class="separator left"></div>
                                <p>Karina was born in New Jersey raised in Miami. Graduated from <strong>Florida College of Natural Health</strong> as advanced paramedical skin care. She has attended several training workshops, where she has earned several certificates such as <strong>Micro Needling, Body Wrapping, UltraCavitation, Radiofrequency, Waxing,</strong> and <strong>Product Knowledge.</strong></p>
                                <p>Karina is a warm caring individual who is passionate about skin care. She also enjoys enducating her clients on the benefits of theraputic skin care treatments, aims to make the client experience as enjoyable and relaxing as possible. Karina is fluent in both <strong>English</strong> and <strong>Spanish.</strong></p>
                                <!-- <div class="social">
                                  <a href="https://www.facebook.com/Ladolcevitamedspa"          class="soc-f"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                  <a href="https://www.twitter.com/ladolcevitaspa_"             class="soc-t"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                  <a href="https://plus.google.com/116386761425916871474/posts" class="soc-g"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                                  <a href="https://www.instagram.com/ladolcevitamedspa"         class="soc-ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                  <a href="#" class="soc-f">f</a>
                                  <a href="#" class="soc-t">t</a>
                                  <a href="#" class="soc-g">g</a>
                                  <a href="#" class="soc-n">n</a>
                                  <a href="#" class="soc-v">v</a>
                                  <a href="#" class="soc-r">r</a>
                                  <a href="#" class="soc-i">i</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="item-team">
                  <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="img block">
                              <img src="<%= asset_path('team/3.jpg') %>" alt="">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="cont block">
                                <h4>Tony Manero</h4>
                                <div class="separator left"></div>
                                <p>Our expertly trained spa team is on hand to offer advice, guidance or treatments designed to relax, cleanse, or invigorate, according to your wishes. We’re sure you’ll leave the spa a new person.</p>
          <p>Tony is an highly-skilled, experienced therapist, he offers a blend of both traditional and modern Spa treatments to immerse your mind, body and soul in pure indulgence.</p>
                                <div class="social">
                                  <a href="https://www.facebook.com/Ladolcevitamedspa"          class="soc-f"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                  <a href="https://www.twitter.com/ladolcevitaspa_"             class="soc-t"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                  <a href="https://plus.google.com/116386761425916871474/posts" class="soc-g"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                                  <a href="https://www.instagram.com/ladolcevitamedspa"         class="soc-ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                  <a href="#" class="soc-f">f</a>
                                  <a href="#" class="soc-t">t</a>
                                  <a href="#" class="soc-g">g</a>
                                  <a href="#" class="soc-n">n</a>
                                  <a href="#" class="soc-v">v</a>
                                  <a href="#" class="soc-r">r</a>
                                  <a href="#" class="soc-i">i</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end .container -->
