// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// You can use Sass (SCSS) here: https://sass-lang.com/
#product-list .item {
  width: 20%;
  height: auto;
	margin-bottom:30px;
	overflow:hidden;
}

@media screen and (max-width: 480px){
  #product-list .item{
    width: 80%;
  }
}