<h2>What we sell:</h2>

<%= link_to "Ageless", controller: "products", action: "listing", collection: "ageless" %>
<%= link_to "Vital-C", controller: "products", action: "listing", collection: "vital-c" %>
<%= link_to "Home", root_path %>