<h2>What we sell:</h2>

<%= link_to "Ageless", controller: "things", action: "index", collection: "ageless"%>
<%= link_to "ID", controller: "things", action: "index", collection: "ID"%>
<%= link_to "Home", root_path %>